{% extends "base.html" %}
{% block content %}
<h1>Getting Started</h1>

<p>Welcome! The purpose of this app is to share your Apple Watch Workouts with Strava, Siri Shortcuts (as JSON) and anywhere else as GPX or CSV files.</p>

<h3>Accept Permissions</h3>
<p>Please follow the instructions below to accept HealthKit permissions. The permission screen will be shown after you close this view by pressing 'Done' in the top left corner of your screen.</p>

<img class="step" src="/static/images/health-1.png" alt="">

<img class="step" src="/static/images/health-2.png" alt="">

<h3>Beta Message</h3>
<p>I’d appreciate feedback on the functionality of the app and on what additional functionality you would find valuable.</p>

<p>Please use the TestFlight app on your phone to leave me feedback or just use the “Message Developer” button in the Settings view of this app.</p>

<p>Thanks for testing!</p>

<p>David</p>

{% endblock %}