{% extends "base.html" %}
{% block content %}
<h1>Welcome</h1>

<p>The purpose of the app is to share the workouts recorded with your  Watch to Strava, Siri Shortcuts (via JSON) and anywhere else as GPX or CSV files.</p>

<p>I’d appreciate feedback on the functionality of the app, but more importantly, on what more you’d find valuable.</p>

<p>Please use the TestFlight app on your phone to leave me feedback or just use the “Message Developer” button in the Settings view of this app.</p>

<p>Thank you</p>
<h2>HealthKit Permissions</h2>

<img class="step" src="/static/images/health-1.png" alt="">

<img class="step" src="/static/images/health-2.png" alt="">

<p>Once you close this window, the permissions screen will appear</p>
<p>😬</p>

{% endblock %}