html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
}

body {

}

.wrapper {
    max-width: 30em;
    margin: 3.5em auto;
    display: block;
}

img {
    max-width: 100%;
}

img.step {
    margin: 2em 0;
}

ul {
    line-height: 1.5em;
}