{% extends "base.html" %}
{% block content %}
<h1>Move<sup>+</sup></h1>
<p>Welcome! The Move<sup>+</sup> app is still in private beta.</p>
<h2>Release Notes</h2>
<h3>Version 2 — 12/29/2018</h3>
<ul>
    <li>Added an on-boarding screen ahead of the beta release</li>
</ul>
<h3>Version 1 — 11/28/2018</h3>
<ul>
    <li>Workouts recorded with your Apple Watch can be shared as a .GPX or .CSV to the Files app (or anywhere else files can be shared such as Mail).</li>
    <li>Workouts can be shared to Strava.</li>
    <li>Workouts can be shared to Siri Shortcuts using JSON.</li>
    <li>Supported Workout types are indoor/outdoor Swimming, Running, Cycling and Walking/Hiking</li>
</ul>
{% endblock %}
